# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Entornos virtuales ---
venv/
.venv/
env/
ENV/
Scripts/
bin/

# --- Variables de entorno ---
.env
.env.local
.env.*.local

# --- Archivos temporales / logs / bases ---
*.log
*.sqlite3

# --- VSCode / IDE ---
.vscode/
.idea/

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Cachés / pruebas ---
.coverage
htmlcov/
.pytest_cache/
